<div class="request-contract-form">
  <div class="request-contract-form-header">Request a new contract</div>
  <div class="request-contract-form-body">
    <form class="mat-form-field">
      <mat-form-field>
        <mat-label>Type:</mat-label>
        <mat-select [(value)]="createContractRequest.type" required>
          <mat-option value="CUSTOMER">Customer</mat-option>
          <mat-option value="SUPPLIER">Supplier</mat-option>
          <mat-option value="OTHER">Other type of</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lead:</mat-label>
        <input [(ngModel)]="createContractRequest.leadNumber" [ngModelOptions]="{standalone: true}" matInput/>
      </mat-form-field>
      <div>
        <button (click)="requestContract()" class="mat-raised-button" mat-button>Send</button>
      </div>
    </form>
  </div>
</div>
