<mat-expansion-panel class="leads">
  <mat-expansion-panel-header>
    <mat-panel-title>For sales</mat-panel-title>
    <mat-panel-description>{{leads.length}} leads</mat-panel-description>
  </mat-expansion-panel-header>
  <table class="mat-elevation-z1 mat-table" style="width: 100%">
    <thead>
    <tr class="matt-header-row">
      <th class="mat-header-cell">Lead</th>
      <th class="mat-header-cell">Customer</th>
      <th class="mat-header-cell">Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lead of leads">
      <td class="mat-cell">{{lead.number}}</td>
      <td class="mat-cell">{{lead.customerId}}</td>
      <td class="mat-cell">{{lead.quantity}}</td>
    </tr>
    </tbody>
  </table>
</mat-expansion-panel>
