<div *ngIf="leads">
  <mat-expansion-panel class="leads">
    <mat-expansion-panel-header>
      <mat-panel-title>For approval</mat-panel-title>
      <mat-panel-description>{{leads.length}} leads</mat-panel-description>
    </mat-expansion-panel-header>
    <table [dataSource]="dataSource" class="mat-elevation-z1" mat-table>

      <ng-container matColumnDef="number">
        <th *matHeaderCellDef mat-header-cell> Lead</th>
        <td *matCellDef="let lead" mat-cell> {{lead.number}} </td>
      </ng-container>

      <ng-container matColumnDef="relation">
        <th *matHeaderCellDef mat-header-cell> Relation</th>
        <td *matCellDef="let lead" mat-cell> {{lead.relationId}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th *matHeaderCellDef mat-header-cell> Quantity</th>
        <td *matCellDef="let lead" mat-cell> {{lead.quantity}} </td>
      </ng-container>

      <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
      <tr *matRowDef="let row; columns: columnsToDisplay" mat-row></tr>

    </table>
  </mat-expansion-panel>
</div>
