<div *ngIf="contracts">
<mat-expansion-panel class="contracts-for-approval">
  <mat-expansion-panel-header>
    <mat-panel-title>For approval</mat-panel-title>
    <mat-panel-description>{{contracts.length}} contracts</mat-panel-description>
  </mat-expansion-panel-header>
  <table [dataSource]="contracts" class="mat-elevation-z1" mat-table>

    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell> Type of Contract</th>
      <td *matCellDef="let contract" mat-cell> {{contract.type}} </td>
    </ng-container>

    <ng-container matColumnDef="customerName">
      <th *matHeaderCellDef mat-header-cell> Customer</th>
      <td *matCellDef="let contract" mat-cell> {{contract.customerName}} </td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columnsToDisplay" mat-row></tr>

  </table>
</mat-expansion-panel>
</div>
