<form class="mat-form-field">
  Request
  <mat-form-field>
    <mat-select [(value)]="createContractRequest.type" matNativeControl required>
      <mat-option value="CUSTOMER">Customer</mat-option>
      <mat-option value="SUPPLIER">Supplier</mat-option>
      <mat-option value="OTHER">Other type of</mat-option>
    </mat-select>
  </mat-form-field>
  contract for
  <mat-form-field>
    <input [(ngModel)]="createContractRequest.customerName" [ngModelOptions]="{standalone: true}" matInput required/>
  </mat-form-field>
  <button (click)="requestContract()" class="mat-button" mat-button>Send</button>
</form>

